.contact-component {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .contact-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .contact-form-container {
    width: 100%;
    height: 100%;
    background-color: #a6c7d5;
    display: flex;
    justify-content: center;
    .form-content {
      width: 50%;
      padding: 1.5rem;
      .contact-form {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px;

        label {
          color: $cd-blue;
          padding: 5px;
        }

        input {
          width: 100%;
          font-size: 1.5rem;
          border: 2px solid $offwhite;
          border-radius: 10px;
        }

        textarea {
          width: 100%;
          height: 15rem;
          padding: 12px 20px;
          box-sizing: border-box;
          resize: none;
          border: 2px solid $offwhite;
          border-radius: 10px;
          font-size: 1.2rem;
          font-family: 'Work Sans', sans-serif;
        }
      }
    }
  }
}
