.contact-component {
  width: 100%;
  display: flex;
  background-color: #a6c7d5;
  justify-content: space-between;

  .call-us-container {
    color: $cd-blue;

    .phone-number {
      font-size: 1.2rem;
    }

    .location {
      padding: 5rem;
    }
  }
  .contact-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .contact-form-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    .form-content {
      color: $cd-blue;
      width: 50%;
      padding: 1.5rem;
      .contact-form {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px;

        label {
          color: $cd-blue;
          padding: 5px;
        }

        input {
          width: 100%;
          font-size: 1.5rem;
          border: 2px solid $offwhite;
          border-radius: 10px;
          transition: 0.5s ease-in-out;
          &:focus {
            outline: none;
            border: 2px solid $cd-blue;
          }
        }

        textarea {
          width: 100%;
          height: 15rem;
          padding: 12px 20px;
          box-sizing: border-box;
          resize: none;
          border: 2px solid $offwhite;
          border-radius: 10px;
          font-size: 1.2rem;
          font-family: 'Work Sans', sans-serif;
          transition: 0.5s ease-in-out;
          &:focus {
            border: 2px solid $cd-blue;
            outline: none;
          }
        }
      }
      .button--container {
        padding-top: 1.5em;

        .button {
          background-color: $cd-blue;
          border: none;
          border-radius: 10px;
          color: $offwhite;
          padding: 10px;
          font-size: 1.1rem;
          cursor: pointer;
          transition: 0.5s ease-in-out;
          &:hover {
            background-color: #5585a2;
          }
        }
      }
    }
  }
}
