.banner-container {
  .banner {
    width: 100%;
    background-image: url(../../static/assets/pictures/banner-photo/banner-photo.jpg);
    padding-top: 300px;
    padding-bottom: 300px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: fixed;
    background-size: cover;
    h2 span {
      position: absolute;
      top: 200px;
      left: 50px;
      width: auto;
      color: $offwhite;
      font: bold 2rem;
      letter-spacing: -1;
      background: rgba(0, 0, 0, 0.7);
      padding: 10px;
      text-align: center;
    }
  }
}

.service-container {
  background-color: #f0f1f1;
  .services-banner {
    display: flex;
    justify-content: center;
  }
  .grid-boxes {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
    justify-self: center;

    .services-grid {
      border: 5px solid $offwhite;
      border-radius: 15px;
      text-align: center;
      background-color: $cd-blue;
      display: grid;
      grid-template-columns: 1fr;
      transition: 0.5s ease-in-out;
      &:hover {
        background-color: darkcyan;
      }
      .learn-more-link {
        transition: 0.5s ease-in-out;
        cursor: pointer;
        &:hover {
          background-color: #377a97;
          border-radius: 15px;
        }

        .link-buttons {
          text-decoration: none;
          color: $offwhite;
        }
      }

      h3,
      p {
        color: $offwhite;
      }
    }
  }
}
