.info-page-container {
  width: 100%;
  .info-banner {
    font-size: 1.2rem;
    color: $cd-blue;
    display: flex;
    justify-content: center;
  }
  .info {
    padding: 1.2rem 10rem 0rem 10rem;
    letter-spacing: 1.2px;
    line-height: 2rem;
    color: #333435;
    text-align: center;
  }

  .info-list {
    padding: 0rem 10rem;
    line-height: 2rem;
    padding-left: 11rem;
    letter-spacing: 1.2px;
    color: #333435;
  }
}
