.info-page-container {
  width: 100%;
  .info-banner {
    font-size: 1.2rem;
    color: $cd-blue;
    display: flex;
    justify-content: center;
  }
  .info-container {
    padding: 3rem 10rem;
    .info-question {
      display: flex;
      justify-content: center;
      .info {
        display: flex;
        text-align: center;
      }
    }
  }
}
