@media (max-width: 615px) {
  .grid-boxes {
    grid-template-columns: 1fr !important;
  }

  .nav-container {
    flex-direction: column !important;
    .navlinks-container {
      flex-direction: column;
      height: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
      .navlink-container {
        justify-content: center;
      }
    }
  }
  .banner-container {
    .banner {
      background-size: 550px;
      h2 span {
        top: 300px !important;
      }
    }
  }

  .footer-container {
    height: 100%;
    .footer-right {
      display: none;
    }
  }

  .contact-component {
    flex-direction: column !important;
    .call-us-container {
      flex-direction: column !important;
      .location {
        display: none;
      }
    }
    .form-content {
      width: 75% !important;
      .email-us-banner {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
    }

    .button--container {
      display: flex;
      justify-content: center !important;
    }
  }
  .info-page-container {
    .info-container {
      padding: 3rem 5rem !important;
      font-size: 1.2rem;
    }
  }
}
